type ppid_sh, domain;
type ppid_sh_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(ppid_sh)

allow ppid_sh vendor_shell_exec:file rx_file_perms;
allow ppid_sh vendor_toolbox_exec:file rx_file_perms;
allow ppid_sh vendor_file:file execute_no_trans;
allow ppid_sh sysfs:file write;
allow ppid_sh sysfs:file open;
allow ppid_sh proc_cmdline:file { open read };
