# Tinker Board 3
on early-init
on init
    # led
    start vendor.led
on late-init
on boot
    # For GPIO FAN
    chown system shell /sys/devices/platform/gpio-fan/hwmon
    chown system shell /sys/devices/platform/gpio-fan/hwmon/hwmon2
    chown system shell /sys/devices/platform/gpio-fan/hwmon/hwmon2/name
    chown system shell /sys/devices/platform/gpio-fan/hwmon/hwmon2/fan_power
    chown system shell /sys/devices/platform/gpio-fan/hwmon/hwmon2/fan_speed

    chmod 0755 /sys/devices/platform/gpio-fan/hwmon
    chmod 0755 /sys/devices/platform/gpio-fan/hwmon/hwmon2
    chmod 0444 /sys/devices/platform/gpio-fan/hwmon/hwmon2/name
    chmod 0666 /sys/devices/platform/gpio-fan/hwmon/hwmon2/fan_power
    chmod 0666 /sys/devices/platform/gpio-fan/hwmon/hwmon2/fan_speed

    # For usb power manager
    chmod 0666 /sys/kernel/debug/usb/fd000000.usb/hub_vbus
    chmod 0666 /sys/kernel/debug/usb/fd800000.usb/hub_vbus
    chmod 0666 /sys/kernel/debug/usb/fd800000.usb/hub_reset

    # For power manager
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq
    chmod 0666 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0666 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0666 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

    #for GPU
    chown system system /sys/class/devfreq/fde60000.gpu/governor
    chown system system /sys/class/devfreq/fde60000.gpu/min_freq
    chown system system /sys/class/devfreq/fde60000.gpu/max_freq
    chmod 0666 /sys/class/devfreq/fde60000.gpu/governor
    chmod 0666 /sys/class/devfreq/fde60000.gpu/min_freq
    chmod 0666 /sys/class/devfreq/fde60000.gpu/max_freq

    # for bmp splash
    chmod 0666 /dev/block/mmcblk2p14
    chmod 0666 /dev/block/mmcblk1p14

    # for RTC Tinker config app
    chmod 0666 /sys/devices/platform/fe5b0000.i2c/i2c-2/2-006f/rtc/rtc0/wakealarm

    # for 40 Pins
    chmod 0666 /sys/class/gpio/export
    chmod 0666 /dev/gpiochip0
    chmod 0666 /dev/gpiochip1
    chmod 0666 /dev/gpiochip2
    chmod 0666 /dev/gpiochip3
    chmod 0666 /dev/gpiochip4
    chmod 0666 /dev/gpiochip5
    chmod 0666 /dev/i2c-1
    chmod 0666 /dev/i2c-5
    chmod 0666 /dev/spidev2.0
    chmod 0666 /dev/spidev2.1
    chmod 0666 /dev/spidev3.0
    chmod 0666 /dev/spidev3.1
    chmod 0666 /dev/ttyS0
    chmod 0666 /dev/ttyS1
    chmod 0666 /dev/ttyS4
    chmod 0666 /dev/ttyS9


on post-fs-data
service vendor.led /vendor/bin/led.sh
    class main
    user root
    group root
    disabled
    oneshot
